.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: rgb(6, 194, 108);
    z-index: 9999;
    display: flex;
    align-items: center;
    padding-left: 20.5px;
}

.title {
    color: black;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    font-family: sans-serif;
}